.auth {
    margin: 10px auto;
    padding: 10px;
    min-height: 80vh;
    position: relative;
}

.auth-header {
    text-align: center;
    margin-top: 50px;
}

.auth-form {
    width: fit-content;
    position: absolute;
    margin-inline: auto;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth-form label {
    display: block;
}

.auth-form input,
.auth-form select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    max-width: 600px;
    min-width: 400px;
    background-color: wheat;
    margin-bottom: 10px;
}

.auth-form input:focus,
.auth-form input:hover,
.auth-form select:focus,
.auth-form select:hover {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.auth-form button {
    max-width: fit-content;
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
    font-weight: 600;
}

.auth-form button:hover {
    background-color: var(--text-dark);
    color: var(--white);
}

.form-content {
    display: grid;
    grid-template-columns: auto;
}

.form-content span:nth-child(1) a {
    color: var(--secondary-color);
    text-decoration: none;
}

.form-content span:nth-child(2) {
    color: var(--text-pink);
    cursor: pointer;
}

.form-content button {
    border-radius: 5px;
    margin-bottom: 30px;
}