/* Header & Navbar */
header {
    background-image: url(../../images/about/about-hero.png);
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Call to Action */
.cta {
    /* border: 1px solid white; */
    width: fit-content;
    color: white;
}

.cta .btn-2 {
    background-color: var(--secondary-color);
    border: none;
    color: var(--white);
    font-weight: 600;
    padding: 7px 10px;
    border-radius: 10px;
}

.cta .btn-2:hover {
    background-color: var(--white);
    color: black;
}

.hero-major .hero-card .hero-content {
    max-width: 30%;
    margin: 10px;
    color: black;
    padding: 10px;
    margin-top: 150px;
}

.hero-major .hero-card .hero-content h2 {
    color: black;
}

.hero-major .hero-card .hero-content p {
    color: black;
}

/* Introduction */
.intro .intro-content {
    display: flex;
    flex-wrap: wrap;
}

.intro .intro-content .intro-content-text {
    width: 50%;
    padding: 10px;
    margin-block: auto;
}

.intro .intro-content .intro-content-text h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.intro .intro-content .intro-content-text p {
    margin-bottom: 30px;
}

.intro .intro-content .intro-content-text p mark {
    background-color: var(--secondary-color);
    color: white;
    padding: 2px;
}

.intro .intro-content .intro-content-text button {
    width: 80px;
    display: inline;
    padding: 7px 10px;
    background-color: black;
    color: white;
    border: none;
}

.intro .intro-content .intro-content-text .btn-2 {
    background-color: var(--secondary-color);
    border: none;
    color: var(--white);
}

.intro .intro-content .intro-content-text button:hover {
    background-color: black;
    color: var(--white);
}

.intro .intro-content .intro-content-text .btn-2:hover {
    color: white;
}

.intro .intro-content .intro-content-image {
    width: 50%;
    padding: 10px;
}

.intro .intro-content .intro-content-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Story */
.story .story-content {
    display: flex;
    flex-wrap: wrap;
}

.story .story-content .story-content-timeline {
    width: 100%;
    padding: 10px;
}

.story .story-content .story-content-timeline ul {
    list-style-type: none;
    padding: 10px;
}

.story .story-content .story-content-timeline ul li {
    margin-bottom: 20px;
    border-left: 1px solid var(--secondary-color);
    padding: 10px;
}

.story .story-content .story-content-timeline ul li b {
    color: var(--secondary-color);
}

/* Cornerstones */
.cornerstone .cornerstone-content {
    display: flex;
    flex-wrap: wrap;
}

.cornerstone .cornerstone-content .cornerstone-card {
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
    color: var(--secondary-color);
}

.cornerstone .cornerstone-content .cornerstone-card i {
    font-size: 40px;
}

/* Media Queries*/
@media (width < 750px) {
    .intro .intro-content .intro-content-text {
        width: 100%;
    }

    .intro .intro-content .intro-content-image {
        width: 100%;
    }
}