<!--Template Reference-->
{% extends 'template.html'%}

<!--Document Title-->
{% block title %}
Sign Up
{% endblock %}

<!--Independent CSS-->
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/auth/auth.css')}}">
{% endblock %}

<!--Body ID-->
{% block bodyid %}
signup
{% endblock %}

<!--Header-->
{% block header%}
{% endblock %}

<!--Page Body-->
{% block body %}
<div class="auth division">
    <div class="auth-header">
        <h2>Join us Today</h2>
    </div>
    <form class="auth-form" action="/signup" method="POST">
        <!--First Name-->
        <label for="fname">First Name</label>
        <input type="text" placeholder="e.g John" name="fname" required>

        <!--Last Name-->
        <label for="lname">Last Name</label>
        <input type="text" placeholder="e.g Doe" name="lname" required>

        <!--Username-->
        <label for="uname">Username</label>
        <input type="text" placeholder="e.g johndoe" name="uname" required>

        <!--Email-->
        <label for="email">Email Address</label>
        <input type="email" placeholder="e.g example@mail.com" name="email" required>

        <!--Gender-->
        <label for="gender">Gender</label>
        <select name="gender">
            <option value="">N/A</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <!--Password-->
        <label for="password">Create Password</label>
        <input type="password" placeholder="********" name="password" required>

        <!--Confirm Password-->
        <label for="confpass">Confirm Password</label>
        <input type="password" placeholder="********" name="confpass" required>

        <!--Role-->
        <input type="hidden" name="role" value="student">

        <div class="form-content">
            <!--Submit-->
            <button type="submit">Submit</button>
            <span>Already a member? <a href="/signin">Sign In</a></span>
            <span onclick="contextchange()">Register as a business</span>
        </div>
    </form>
</div>
{% endblock %}

<!--Reviews-->
{% block reviews %}
{% endblock %}

<!--FAQs-->
{% block faqs %}
{% endblock %}