<!--Template Reference-->
{% extends 'template.html'%}

<!--Document Title-->
{% block title %}
CareerConnect | Sign Up
{% endblock %}

<!--Independent CSS-->
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/auth/auth.css')}}">
{% endblock %}

<!--Body ID-->
{% block bodyid %}
signup
{% endblock %}

<!--Header-->
{% block header%}
{% endblock %}

<!--Page Body-->
{% block body %}
<!--Students-->
<div id="studentForm" class="auth division">
    <div class="auth-header">
        <h2>Join us Today</h2>
    </div>

    <!--Student Form-->
    <form class="auth-form" action="/signup" method="POST">
        <!--Subtitle-->
        <h4>Personal Details</h4>

        <!--First Name-->
        <label for="fname">First Name</label>
        <input type="text" placeholder="e.g John" name="fname" required>

        <!--Last Name-->
        <label for="lname">Last Name</label>
        <input type="text" placeholder="e.g Doe" name="lname" required>

        <!--Username-->
        <label for="uname">Username</label>
        <input type="text" placeholder="e.g johndoe" name="uname" required>

        <!--Phone Number-->
        <label for="phone">Phone Number</label>
        <input type="number" placeholder="e.g 70700700" maxlength="9" name="phone" required>

        <!--Gender-->
        <label for="gender">Gender</label>
        <select name="gender">
            <option value="">N/A</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <!--Date of Birth-->
        <label for="DOB">Date of Birth</label>
        <input type="date" name="DOB" required>

        <!--Subtitle-->
        <h4>Academic Details</h4>

        <!--Institution-->
        <label for="institution">Institution</label>
        <input type="text" value="Strathmore University" name="institution" readonly required>

        <!-- Year of Start -->
        <label for="yomStart">Year of Start</label>
        <input type="number" placeholder="e.g 2022" name="yomStart" min="2020" max="2025" required step="1">

        <!--Year of Finish-->
        <label for="yomFinish">Year of Finish</label>
        <input type="number" placeholder="e.g 2027" name="yomFinish" min="2020" max="2030" required step="1">

        <!--Email-->
        <label for="email">School Email Address</label>
        <input type="email" placeholder="e.g example@institution.com" name="email" required>

        <!-- Faculty -->
        <label for="course">Faculty</label>
        <select id="facultySelect" name="faculty" required>
            <option value="">~ Select Faculty</option>
            {% if faculties %}
            {% for faculty in faculties %}
            <option value="{{faculty.id}}">{{faculty.name}}</option>
            {% endfor %}
            {% else %}
            <option value="" disabled>No faculties to show</option>
            {% endif %}
        </select>

        <!-- Course -->
        <label for="course">Course</label>
        <select id="courseSelect" name="course" required>
            <option value="">~ Select Course</option>
            {% if courses %}
            {% for course in courses %}
            <option value="{{course.id}}">{{course.name}}</option>
            {% endfor %}
            {% else %}
            <option value="" disabled>No courses to show</option>
            {% endif %}
        </select>

        <!--Password-->
        <label for="password">Create Password</label>
        <input type="password" placeholder="********" name="password" required>

        <!--Confirm Password-->
        <label for="confpass">Confirm Password</label>
        <input type="password" placeholder="********" name="confpass" required>

        <!--Role-->
        <input type="hidden" name="role" value="student">

        <div class="form-content">
            <!--Submit-->
            <button type="submit">Submit</button>
            <span>Already a member? <a href="/signin">Sign In</a></span>
            <span onclick="contextchange('businessForm')">Register a business</span>
        </div>
    </form>
</div>

<!--Businesses-->
<div id="businessForm" class="auth division">
    <div class="auth-header">
        <h2>Become our Partner Today</h2>
    </div>

    <!--Business Form-->
    <form class="auth-form" action="/signup/business" method="POST">
        <!--Subtitle-->
        <h4>Personal Details</h4>

        <!--First Name-->
        <label for="fname">First Name</label>
        <input type="text" placeholder="e.g John" name="fname" required>

        <!--Last Name-->
        <label for="lname">Last Name</label>
        <input type="text" placeholder="e.g Doe" name="lname" required>

        <!--Username-->
        <label for="uname">Username</label>
        <input type="text" placeholder="e.g johndoe" name="uname" required>

        <!--Gender-->
        <label for="gender">Gender</label>
        <select name="gender">
            <option value="">N/A</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <!--Subtitle-->
        <h4>Business Details</h4>

        <!--Business Name-->
        <label for="bname">Business name</label>
        <input type="text" placeholder="e.g IndustryOne" name="bname" required>

        <!--Email-->
        <label for="email">Business Email Address</label>
        <input type="email" placeholder="e.g example@business.com" name="email" required>

        <!--Industry-->
        <label for="industry">Industry</label>
        <select name="industry" required>
            <option value="">~ Select Industry</option>
            {% if industries %}
            {% for industry in industries %}
            <option value="{{industry.id}}">{{industry.name}}</option>
            {% endfor%}
            {% else %}
            <option value="">No industries to show</option>
            {% endif %}
        </select>

        <!--Country of Origin-->
        <label for="origin">Country of Origin</label>
        <select name="origin" required>
            <option value="">~ Select Country</option>
            {% if countries %}
            {% for country in countries %}
            <option value="{{country.id}}">{{country.nicename}}</option>
            {% endfor %}
            {% else %}
            <option value="">No countries to show</option>
            {% endif %}
        </select>

        <!--City-->
        <label for="city">City</label>
        <input type="text" placeholder="e.g Nairobi" name="city" required>

        <!--Business Phone-->
        <label for="phone">Business Phone Number</label>
        <input type="number" placeholder="e.g 70700700" maxlength="9" name="phone" required>

        <!--Password-->
        <label for="password">Create Password</label>
        <input type="password" placeholder="********" name="password" required>

        <!--Confirm Password-->
        <label for="confpass">Confirm Password</label>
        <input type="password" placeholder="********" name="confpass" required>

        <!--Role-->
        <input type="hidden" name="role" value="business">

        <div class="form-content">
            <!--Submit-->
            <button type="submit">Submit</button>
            <span>Already a member? <a href="/signin">Sign In</a></span>
            <span onclick="contextchange('studentForm')">Register as a student</span>
        </div>
    </form>
</div>
{% endblock %}

<!--Reviews-->
{% block reviews %}
{% endblock %}

<!--FAQs-->
{% block faqs %}
{% endblock %}

<!--Footer-->
{% block footer %}
{% endblock %}

<!--Independent JS-->
{% block js %}
<!--JS to Filter Courses Based on Selected Faculty-->
<script>
    const allCourses = {{ courses | tojson }};

    const facultySelect = document.getElementById('facultySelect');
    const courseSelect = document.getElementById('courseSelect');

    facultySelect.addEventListener('change', function () {
        const selectedFacultyId = parseInt(this.value);
        // Clear current course options
        courseSelect.innerHTML = '<option value="">~ Select Course</option>';

        // Filter and populate
        const filteredCourses = allCourses.filter(course => course.faculty_id === selectedFacultyId);

        filteredCourses.forEach(course => {
            const option = document.createElement('option');
            option.value = course.id;
            option.textContent = course.name;
            courseSelect.appendChild(option);
        });
    });
</script>

<!--Signup JS-->
<script src="{{url_for('static', filename='js/auth/signup.js')}}"></script>
{% endblock %}