<!--Template Reference-->
{% extends 'template.html'%}

<!--Document Title-->
{% block title %}
CareerConnect | Sign In
{% endblock %}

<!--Independent CSS-->
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/auth/auth.css')}}">
{% endblock %}

<!--Body ID-->
{% block bodyid %}
signin
{% endblock %}

<!--Header-->
{% block header%}
{% endblock %}

<!--Page Body-->
{% block body %}
<div id="signin" class="auth division">
    <div class="auth-header">
        <h2>Welcome Back</h2>
    </div>
    <form class="auth-form" action="/signin" method="POST">

        <!--Username or Email-->
        <label for="email">Email</label>
        <input type="text" placeholder="e.g example@mail.com" name="email" required>

        <!--Password-->
        <label for="password">Password</label>
        <input type="password" placeholder="********" name="password" required>

        <div class="form-content">
            <button type="submit">Submit</button>
            <span>New here? <a href="/signup">Sign Up</a></span>
        </div>
    </form>
</div>
{% endblock %}

<!--Reviews-->
{% block reviews %}
{% endblock %}

<!--FAQs-->
{% block faqs %}
{% endblock %}

<!--Footer-->
{% block footer %}
{% endblock %}