# Ignoring Virtual Environment
.venv/

# Ignoring Logs
logs/

# Ignoring Cache File Recursively
__pycache__/
**/__pycache__/

# Configs & Secrets
config/env.py
website/database/icsdb.sql

# Store Assets
website/store/**

# Image Uploads
website/static/uploads/**