{% extends 'template.html' %}

{% block title %}
CareerConnect | Project
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/project/project.css')}}">
{% endblock %}

{% block body %}

  <div class="search">
    <form action="" class="search-bar">
        <input type="text" placeholder="search projects">
        <button type="submit"> <i class="fas fa-search"></i>  </button>
    </form>
  </div>

  <!--Project Container-->
  <div class="project_container">
    <!--Card-->
    {% if projects %}
    {% for project in projects %}
    <div class="card-item">
        <!--Card Image-->
        <div class="card-image">
            <img src="{{ url_for('static', filename='uploads/items/' ~ project.image) }}" alt="Project Image">
            <span id="internshipSpan">{{project.title}}</span>
        </div>

        <!--Card Content-->
        <div class="card-content">
            <!--Card Title-->
            <div class="card-content-title">
                <div class="card-content-title-img">
                    <img src="{{ url_for('static', filename='uploads/accounts/' ~ project.studentIcon) }}" alt="Student Image">
                </div>
                <p>{{project.fname}} {{project.lname}}</p>
            </div>

            <!--Card Description-->
            <div class="card-content-description">
                <p>{{project.description}}</p>
            </div>

            <!--Card Rates & Actions-->
            <div class="card-content-options">
                <span></span>
                <button class="btn-2" onclick="applyProject()">Apply</button>
            </div>
        </div>

    </div>
    {% endfor %}
    {% else %}
    <div class="card-item">
        <!--Card Image-->
        <div class="card-image">
            <img src="{{ url_for('static', filename='uploads/items/placeholder.png') }}" alt="Project Image">
            <span id="internshipSpan" hidden></span>
        </div>

        <!--Card Content-->
        <div class="card-content">
            <!--Card Title-->
            <div class="card-content-title">
                <div class="card-content-title-img">
                    <img src="{{ url_for('static', filename='uploads/accounts/placeholder.png') }}" alt="Student Image">
                </div>
                <p>Oops! No projects to show</p>
            </div>

            <!--Card Description-->
            <div class="card-content-description">
                <p>
                    It seems there are no projects available at the moment. Please check back later or contact support for more information. Alternatively, you can create a project if you are a student.
                </p>
            </div>

            <!--Card Rates & Actions-->
            <div class="card-content-options">
                <span></span>
                <button class="btn-2" onclick="window.location.href='/signin'">Create</button>
            </div>
        </div>
    </div>
    {% endif %}
  </div>
{% endblock %}

<!--Reviews-->
{% block reviews %}
{% endblock %}

<!--FAQs-->
{% block faqs %}
{% endblock %}

<!--Independent JS-->
{% block js %}
<!-- JS Link -->
<script src="{{ url_for('static', filename='js/projects/search.js') }}"></script>
{% endblock %}
