{% extends 'template.html' %}

{% block title %}
CareerConnect | Project
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/project/project.css')}}">
{% endblock %} 

{% block body %}

    <div class="project_container">
        <div class="project1">
            <div id="project_description">
                <h2>Website development</h2>
                <p>This project involves development of a hospital management <br> 
                    website. The languages to be used are HTML,CSS, React and,<br> 
                   NodeJs. Any IDE eg, VScode can be used. MySQL Workbench<br> 
                   will be used as the database. Collaboration will be <br>
                virtual on GitHub. </p><br>
                <button>Apply</button>
            </div>
            <div id="project_image">
                <img src="{{url_for('static', filename='images/project/newwebsite1.jpg')}}" alt="First project image">
            </div>
        </div>

        <div class="project1">
            <div id="project_image">
                <img src="{{url_for('static', filename='images/project/project2.jpg')}}" alt="First project image">
            </div>
            <div id="project_description">
                <h2>Animation creation</h2>
                <p>This project involves creation of a school-based animation.<br> 
                     Alice3 will be the application used for creation. The characters<br> 
                   involved will be students, teachers, principal, nurse,<br> 
                    socialworkers. The aim of making the animation<br>
                   is to use it to educate children on discipline and responsibility. </p><br>
                <button>Apply</button>
            </div>
        </div>

        <div class="project1">
            <div id="project_description">
                <h2>Debate Contest</h2>
               <p>This project involves planning and coordinating a debate <br> 
                    contest. Daily meetings will be happening from 1800hr to<br> 
                   1700hr in Microsoft Auditorium. During the meetings, the <br> 
                   debate motion will be selected. A certificate of participation<br>
                will be presented at the end of the debate.</p><br>
                <button>Apply</button>
            </div>
            <div id="project_image">
                <img src="{{url_for('static', filename='images/project/project3.jpg')}}" alt="Third project image">
            </div>
        </div>

        <div class="project1">
             <div id="project_image">
                <img src="{{url_for('static', filename='images/project/project4.jpg')}}" alt="Third project image">
            </div>
            <div id="project_description">
                <h2>Arduino Project</h2>
               <p>This project involves building an Automatic plant watering <br> 
                     system. Basically, a sensor will be used to detect when <br> 
                   the soil is dry and the Arduino will send signals that will<br> 
                   activate the water pump, irrigating the plants and when the <br>
                   soil is moisturised the pump is switched off. An LED will also<br>
                   be used to indicate when the pump is switched on/off.The project<br>
                   will be virtually implemented on Tinkercard, then physically <br>
                   implemented using the physical components.</p><br>
                <button>Apply</button>
            </div>
        </div>

         <div id="addproject_b">
        <button><a href="addproject">Add Project</a></button> </div>
    </div>

{% endblock %}
