header {
    background-image: unset;
    height: 10vh;
}

.cta {
    display: none;
}

/* Styling what people have to say about us section */
.testimonials {
    padding: 5px 0;
    text-align: center;
}

.title {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.board {
    width: 160px;
    height: 5px;
}

.testimonial-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 20px;
    align-items: center;
    overscroll-behavior-inline: contain;
}

.testimonial-content .testimonial-card {
    flex: 0 0 auto;
    max-width: 300px;
    min-width: 300px;
    min-height: 200px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.testimonial-card:hover {
    transform: rotate(5deg);
}

.testimonial-content::-webkit-scrollbar {
    width: 0;
}

.testimonial-content .testimonial-card:hover {
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
}

.testimonial-content .testimonial-card .testimonial-card-name {
    width: 100%;
    padding: 10px;
    height: 50px;
    overflow: hidden;
    color: black;
}

.testimonial-content .testimonial-card .testimonial-card-text {
    width: 100%;
    height: 100px;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}

.testimonial-content .testimonial-card .testimonial-card-text::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
    color: var(--white);
}

.testimonial-content .testimonial-card .testimonial-card-text p {
    margin-block: auto;
    padding-block: 30px;
    height: 100%;
    font-weight: bold;
}

.testimonial-content .testimonial-card .testimonial-card-rating {
    width: 100%;
    height: 50px;
    padding: 10px;
    overflow: hidden;
    color: var(--primary-color)
}

#sentence {
    text-transform: none;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.review-button {
    min-width: 100px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.review-button:hover {
    background-color: var(--text-dark);
    color: var(--white);
}

/* Add Reviews Modal */
.review_container {
    max-width: 400px;
    min-width: 300px;
    padding: 20px;
    background-color: var(--white);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    color: black;
    display: none;
    z-index: 9999;
}

.review_container form {
    height: 100%;
}

.review_container label {
    font-weight: bold;
    display: block;
    text-align: left;
}

.review_container input,
.review_container textarea {
    background-color: wheat;
    color: black;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    outline: none;
}

.review_container textarea {
    height: 200px;
}

.review_container button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    font-weight: 600;
    justify-content: start;
}