{% extends 'template.html' %}

{% block title %}
CareerConnect | AddReview
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/reviews/reviews.css')}}">
{% endblock %} 

{% block body %}
    <div class="review_container">
        <form class="review_form">
            <label for="fname">First Name</label> <br>
            <input type="text" id="fname" name="fname" required><br>

            <label for="lname">Last Name</label><br>
            <input type="text" id="lname" name="fname" required><br>

            <label for="comment">Add Review</label><br>
            <textarea id="comment" name="comment" rows="5" cols="40" placeholder="Write your comment here" required></textarea><br>


            <button id="rbutton">Submit</button>

        </form>
    </div>

{% endblock %}