{% extends 'template.html' %}

{% block title %}
CareerConnect | Review
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/reviews/reviews.css')}}">
{% endblock %}

{% block body %}

    <section >
        <div class="testimonials">
            <div class="title">
                {% if userID %}
                <div class="button-container"> <button class="review-button" id="review-button">Add review</button> </div>
                {% endif %}

                <div class="testimonial-content">
                {% if reviewsData %}
                {% for item in reviewsData %}
                    <div class="testimonial-card reusable">
                        <div class="testimonial-card-name">
                            <h4>{{item.fname}} {{item.lname}}</h4>
                        </div>
                        <div class="testimonial-card-text">
                            <p>{{item.comment}}</p>
                        </div>
                        <div class="testimonial-card-rating">
                            {% autoescape false %}
                            <p>{{item.stars}}</p>
                            {% endautoescape %}
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="testimonial-card reusable">
                        <div class="testimonial-card-name">
                            <h4>Oops</h4>
                        </div>
                        <div class="testimonial-card-text">
                            <p>There are no testimonials yet</p>
                        </div>
                        <div class="testimonial-card-rating">
                            <p>There are no ratings yet</p>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!--Add Reviews Form-->
                {% if userID %}
                <div class="review_container" id="review_container">
                    <form class="review_form" method="POST" action="/reviews">

                        <!--Comment-->
                        <label for="comment">Add Review</label><br>
                        <textarea id="comment" name="comment" rows="5" cols="40" placeholder="Write your comment here" required></textarea>

                        <!--Rating-->
                        <label for="rating">Rating (0-100)</label>
                        <input type="number" id="rating" name="rating" min="0" max="100" minlength="1" maxlength="3" placeholder="Rate us from 0 to 100" required>


                        <button class="btn-2" id="submitBtn" type="submit" >Submit</button>
                        <button class="btn-2" id="close_btn" type="button">Close</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}

<!--Reviews-->
{% block reviews %}
{% endblock %}

<!--FAQs-->
{% block faqs %}
{% endblock %}

<!--Independent JS-->
{% block js %}
<script src="{{ url_for('static', filename='js/reviews/reviews.js') }}"></script>
{% endblock %}