{% extends 'template.html' %}

{% block title %}
CareerConnect | Review
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/reviews/reviews.css')}}">
{% endblock %} 

{% block body %}

    <section >
    <div class="testimonials">
      <div class="title">
        <h1>What people have to say</h1>
       <div class="button-container"> <button class="review-button"><a href="add_reviews">Add review</a></button> </div>

        <div class="board"></div>
        <div class="row">
            <div class="column">
                <div class="testimonial">
                    <img src="{{url_for('static', filename='images/reviews/profile.jpg')}}" alt="Image profile 1">
                    <div class="name">Samantha Wanjiru</div>
                    <p id="sentence">Am Samantha Wanjiru, in 1st year and I really enjoyed interacting with this website, it was easy to use and understand. I was able to use the website to learn a new skill. I definetely recommend this website to other students, it has good opportunities.</p>
                </div>

            </div>
            <div class="column">
                <div class="testimonial">
                    <img src="{{url_for('static', filename='images/reviews/profile1.jpg')}}" alt="Image Profile 2">
                    <div class="name">Dennis Mutua</div>
                    <p id="sentence">Am Dennis Mutua, a 2nd year student. Using this website i have been able to post gigs and earn some cash and engage in collaborative projects. I recommend the website to students who want to earn from gigs and engage in collaborative projects.</p>
                </div>

            </div>
            <div class="column">
                <div class="testimonial">
                    <img src="{{url_for('static', filename='images/reviews/student.jpg')}}" alt="Image profile 3">
                    <div class="name">Ann Wambui </div>
                    <p id="sentence">Am Ann Wambui, a 4th year Culinary Arts student. I have interacted with the website and managed to acquire an internship slot from CJs. I recommend this website to other students who are searching for job/internship opportunities.</p>
                </div>

            </div>

            <div class="column">
                <div class="testimonial">
                    <img src="{{url_for('static', filename='images/reviews/student1.jpg')}}" alt="Image profile 3">
                    <div class="name">Sharlyn Wambui </div>
                    <p id="sentence">Am Sharlyn Wambui, a 3rd year law student. I have used the chat feature of this website to interact with law firms. I therefore recommend this website to other students who would like to interact with organizations and know how they operate.</p>
                </div>

            </div>

            <div class="column">
                <div class="testimonial">
                    <img src="{{url_for('static', filename='images/reviews/Organization.jpg')}}" alt="Image profile 3">
                    <div class="name">Home Build Constructions </div>
                    <p id="sentence">This is Home Build Constructions, we deals with home constructions. We have used the website to post on job/internship opportunities and acquire skilled interns and employees. We highly recommend this website.</p>
                </div>

            </div>

            <div class="column">
                <div class="testimonial">
                    <img src="{{url_for('static', filename='images/reviews/Organization1.jpg')}}" alt="Image profile 3">
                    <div class="name">Hilton Hotel</div>
                    <p id="sentence">This is Hilton Hotel. We have used the website to post on job/internship opportunities and acquire skilled interns and employees. In addition, we have been able to apply and engage in collaborative projects. We highly recommend this website.</p>
                </div>

            </div>

            {% for review in reviews %}
            <div class="column">
                <div class="testimonial">
                    <img src="{{ url_for('static', filename='images/reviews/Organization1.jpg') }}" alt="Image profile">
                    <div class="name">{{ review.fname }} {{ review.lname }}</div>
                    <p id="sentence">{{ review.comment }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>

    </div>
</section>

{% endblock %}