{% extends 'template.html' %}

{% block title %}
CareerConnect | Gigs
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/gigs/gigs.css')}}">
{% endblock %} 

{% block body %}

   <div id="gigs_container">
    <div id="add_gigs"> <button><a href="addgigs">Add Gigs</a></button> </div>
        <div id="gigs_row">
            <div id="first_gig">
             <div id="gig_image">  
            <img src="{{url_for('static', filename='images/gigs/logoMaker.jpeg')}}" alt="First gig">
              </div> 
              <div class="gig_details">
            <div id="gig_owner">
                <img src="{{url_for('static', filename='images/gigs/pic1.jpeg')}}" alt="profile picture 1">
                <p>Samantha Wanjiru</p>
            </div>
            <div id="gig_message">
                <p>I will create a Logo for your website/company</p>
            </div>
            <div id="gig_price">
                <p>From Kshs.1500</p>
                <button>Apply</button>
            </div>
            </div>
            </div>

            <div id="first_gig">
             <div id="gig_image">  
            <img src="{{url_for('static', filename='images/gigs/gig2.jpeg')}}" alt="First gig">
              </div> 
              <div class="gig_details">
            <div id="gig_owner">
                <img src="{{url_for('static', filename='images/gigs/pic2.jpeg')}}" alt="profile picture 1">
                <p>Dennis Mutua</p>
            </div>
            <div id="gig_message">
                <p>I will transcribe your audio and type out assignments</p>
            </div>
            <div id="gig_price">
                <p>From Kshs.2000</p>
                <button>Apply</button>
            </div>
            </div>
            </div>

            <div id="first_gig">
             <div id="gig_image">  
            <img src="{{url_for('static', filename='images/gigs/gig3.jpeg')}}" alt="First gig">
              </div> 
              <div class="gig_details">
            <div id="gig_owner">
                <img src="{{url_for('static', filename='images/gigs/pic3.jpeg')}}" alt="profile picture 1">
                <p>Ann Wambui</p>
            </div>
            <div id="gig_message">
                <p>I will offer tutorials on baking/cooking.</p>
            </div>
            <div id="gig_price">
                <p>From Kshs.1000</p>
                <button>Apply</button>
            </div>
            </div>
            </div>

            <div id="first_gig">
             <div id="gig_image">  
            <img src="{{url_for('static', filename='images/gigs/gig4.jpeg')}}" alt="First gig">
              </div> 
              <div class="gig_details">
            <div id="gig_owner">
                <img src="{{url_for('static', filename='images/gigs/pic4.jpeg')}}" alt="profile picture 1">
                <p>Lynn Wangui</p>
            </div>
            <div id="gig_message">
                <p>I will manage small businesses social media accounts</p>
            </div>
            <div id="gig_price">
                <p>From Kshs.1500</p>
                <button>Apply</button>
            </div>
            </div>
            </div>

            <div id="first_gig">
             <div id="gig_image">  
            <img src="{{url_for('static', filename='images/gigs/gig5.jpeg')}}" alt="First gig">
              </div> 
              <div class="gig_details">
            <div id="gig_owner">
                <img src="{{url_for('static', filename='images/gigs/pic5.jpeg')}}" alt="profile picture 1">
                <p>Kevin Kamau</p>
            </div>
            <div id="gig_message">
                <p>I will design ad banners for marketing purposes</p>
            </div>
            <div id="gig_price">
                <p>From Kshs.2000</p>
                <button>Apply</button>
            </div>
            </div>
            </div>

            <div id="first_gig">
             <div id="gig_image">  
            <img src="{{url_for('static', filename='images/gigs/gig6.jpeg')}}" alt="First gig">
              </div> 
              <div class="gig_details">
            <div id="gig_owner">
                <img src="{{url_for('static', filename='images/gigs/pic6.jpeg')}}" alt="profile picture 1">
                <p>Joseph Wachira</p>
            </div>
            <div id="gig_message">
                <p>I will offer online music lessons.</p>
            </div>
            <div id="gig_price">
                <p>From Kshs.1000</p>
                <button>Apply</button>
            </div>
            </div>
            </div>
        </div>

    </div>
{% endblock %}
