{% extends 'template.html' %}

{% block title %}
CareerConnect | Gigs
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/gigs/gigs.css')}}">
{% endblock %}

{% block body %}

   <div id="gigs_container">
        <div id="gigs_row">
            {% if gigs %}
            {% for gig in gigs %}
            <div class="card-item">
                <!--Card Image-->
                <div class="card-image">
                    <img src="{{ url_for('static', filename='uploads/items/' ~ gig.image) }}" alt="Gig Image">
                    <span id="jobSpan">{{gig.title}}</span>
                </div>

                <!--Card Content-->
                <div class="card-content">
                    <!--Card Title-->
                    <div class="card-content-title">
                        <div class="card-content-title-img">
                            <img src="{{ url_for('static', filename='uploads/accounts/' ~ gig.studentIcon) }}" alt="Student Image">
                        </div>
                        <p>{{gig.fname}} {{gig.lname}}</p>
                    </div>

                    <!--Card Description-->
                    <div class="card-content-description">
                        <p>{{gig.description}}</p>
                    </div>

                    <!--Card Rates & Actions-->
                    <div class="card-content-options">
                        <span>From KES {{gig.price}}</span>
                        <button class="btn-2" id="openModalBtn3">Request</button>
                    </div>
                </div>

            </div>
            {% endfor %}
            {% else %}
            <div class="card-item">
                <!--Card Image-->
                <div class="card-image">
                    <img src="{{ url_for('static', filename='uploads/items/placeholder.png') }}" alt="Gig Image">
                    <span id="jobSpan" hidden>Oops! No Gig to Show</span>
                </div>

                <!--Card Content-->
                <div class="card-content">
                    <!--Card Title-->
                    <div class="card-content-title">
                        <div class="card-content-title-img">
                            <img src="{{ url_for('static', filename='uploads/accounts/placeholder.png')}}" alt="Student Image">
                        </div>
                        <p>Oops! No gigs to show</p>
                    </div>

                    <!--Card Description-->
                    <div class="card-content-description">
                        <p>
                            It seems like there are no gigs available at the moment. Please check back later or consider creating your own gig to share with others.
                        </p>
                    </div>

                    <!--Card Rates & Actions-->
                    <div class="card-content-options">
                        <span></span>
                        <button class="btn-2" onclick="window.location.href='/signin'">Create your gig</button>
                    </div>
                </div>

            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

<!--Reviews-->
{% block reviews %}
{% endblock %}

<!--FAQs-->
{% block faqs %}
{% endblock %}
