<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>

    <!--CSS-->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main/app.css')}}"
    />

    <!--Independent CSS-->
    {% block css %} {% endblock %}

    <!--Boxicons-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--Fontawesome icons-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <!--Remix icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!--Bootstrap CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!--Swiper-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>

  <body {% block bodyid %}{% endblock %}>
    <!--Alerts For Flashed Messages-->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}

    <!--Looping Messages & Their Categories-->
    {% for category, message in messages%} {% if category == 'error'%}

    <!--Error Messages-->
    <div
      style="z-index: 1000; text-align: center"
      class="alert alert-danger alter-dismissable fade show"
      role="alert"
    >
      {{message}}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% elif category == 'success' %}

    <!--Success Messages-->
    <div
      style="z-index: 1000; text-align: center"
      class="alert alert-success alter-dismissable fade show"
      role="alert"
    >
      {{message}}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif%} {% endwith %}

    {% block header %}
    <!--Header & Navbar-->
    <header class="header">
      <nav class="navbar">
        <div class="nav-logo">
          <p onclick="window.location.href='/'">CareerConnect</p>
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/gigs">Gigs Center</a></li>
            <li><a href="/jobs">Job Listings</a></li>
            <li><a href="/project">Collabs</a></li>
            <li><a href="/reviews">Reviews</a></li>
          </ul>
        </div>

        {% if not userID %}
        <div class="nav-actions">
          <button onclick="window.location.href='/signin'">Sign in</button>
          <button onclick="window.location.href='/signup'">Sign up</button>
        </div>
        {% else %}
        <div class="nav-actions">
          <button onclick="window.location.href='/dashboard'">
            <i class='bx bx-user'></i> dash
          </button>
          <button onclick="window.location.href='/logout'">
            <i class='bx bx-log-out'></i>
          </button>
        </div>
        {% endif %}
      </nav>

      <!--CTA-->
      <div class="cta">
        <h1>Your one-stop job resource platform</h1>
        <ul>
          <li>
            <i class='bx bx-cog' style="color: var(--text-pink);"></i><br>
            <p>10+ Years Expertise</p>
          </li>
          <li>
            <i class='bx bx-ruler' style="color: var(--text-blue);"></i> <br>
            <p>1.5 Million Students Helped</p>
          </li>
          <li>
            <i class='bx bx-store' style="color: var(--tertiery-color);"></i> <br>
            <p>3000 Active Businesses</p>
          </li>
        </ul>
      </div>
    </header>
    {% endblock %}

    <!--Page Body-->
    {% block body %} {% endblock %}

    <!--Testimonials-->
    {% block reviews %}
    <section class="testimonial container">
        <div class="section-header">
            <h2>What others say about us</h2>
        </div>
        <div class="testimonial-content">
          {% if reviewsData %}
          {% for item in reviewsData %}
            <div class="testimonial-card reusable">
                <div class="testimonial-card-name">
                    <h4>{{item.fname}} {{item.lname}}</h4>
                </div>
                <div class="testimonial-card-text">
                    <p>{{item.comment}}</p>
                </div>
                <div class="testimonial-card-rating">
                    {% autoescape false %}
                    <p>{{item.stars}}</p>
                    {% endautoescape %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="testimonial-card reusable">
                <div class="testimonial-card-name">
                    <h4>Oops</h4>
                </div>
                <div class="testimonial-card-text">
                    <p>There are no testimonials yet</p>
                </div>
                <div class="testimonial-card-rating">
                    <p>There are no ratings yet</p>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
    {% endblock %}

    <!--Frequently Asked Questions-->
    {% block faqs %}
    <section class="faq container">
        <div class="section-header">
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="faq-content">
            <div class="faq-content-question">
                <h2>Leave a question here</h2>
                <p>Feel free to engage with ask by asking any question you may have about our organization and our services, and we'll do always do our best to make sure you get an answer</p>
                <div class="faq-content-question-form">
                    <form action="/assets/php/question.php" method="POST">
                        <textarea name="question" maxlength="200"></textarea>
                        <input class="btn-2" style="font-weight: 600;" type="submit" name="submit" value="Submit">
                    </form>
                </div>
            </div>

            <div class="faq-content-card">
                <!--FAQ Card-->
                <div class="faq-card">
                    <div class="faq-card-q">
                        <h2>What services do you offer?</h2>
                        <i onclick="showCardAns(event)" class="bx bx-chevron-right"></i>
                    </div>
                    <div class="faq-card-a">
                        <p>
                            Our platform offers a wide range of services from short-contract jobs through gigs, internships and jobs through our business affiliations as well as student project collaboration opportunities
                        </p>
                    </div>
                </div>

                <!--FAQ Card-->
                <div class="faq-card">
                    <div class="faq-card-q">
                        <h2>How does everything work?</h2>
                        <i onclick="showCardAns(event)" class="bx bx-chevron-right"></i>
                    </div>
                    <div class="faq-card-a">
                        <p>
                            For students, once enrolled, you can complete your dashboard and then you'll be able to add gigs from your dashboard or apply for vacancies through the listings pages.<br>
                            For business profiles, you can add new jobs directly from your dashboard, where you'll also be able to pool shortlisted student profiles and manage your applicants
                        </p>
                    </div>
                </div>

                <!--FAQ Card-->
                <div class="faq-card">
                    <div class="faq-card-q">
                        <h2>How are we guaranteed of quality work?</h2>
                        <i onclick="showCardAns(event)" class="bx bx-chevron-right"></i>
                    </div>
                    <div class="faq-card-a">
                        <p>
                            We have a team of experienced professionals who are dedicated to providing you with the best quality work. We encourage you to take the step to work with us in ensuring seamless job search and recruitment
                        </p>
                    </div>
                </div>

                <!--FAQ Card-->
                <div class="faq-card">
                    <div class="faq-card-q">
                        <h2>How are payments done?</h2>
                        <i onclick="showCardAns(event)" class="bx bx-chevron-right"></i>
                    </div>
                    <div class="faq-card-a">
                        <p>
                            Payments are only functional for students with gigs as they are a monetized feature. On completion and approval of a gig, your money will always be disbursed straight to your registered account
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    <!--Footer-->
    {% block footer %}
    <footer class="footer">
      <div class="footer-head">
        <div class="footer-news">
          <form action="/newsletter" method="POST">
            <h3>Subscribe to our newsletter</h3>
            <p>Stay updated with the latest news and insights from CareerConnect.</p>
            <div class="input-group">
              <input
                type="email"
                class="form-control"
                placeholder="Enter your email"
                name="email"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr>
      <div class="footer-top division">
        <div class="footer-company">
          <h2>CareerConnect LLC</h2>
          <p>CareerConnect is a leading job resource provider, dedicated to helping students achieve smooth school-to-work transition and businesses to make the most of their hiring phases.
          </p>
        </div>
        <div class="footer-links">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gigs">Gig Center</a></li>
            <li><a href="/jobs">Job Listings</a></li>
          </ul>
        </div>
        <div class="footer-resources">
          <h3>Resources</h3>
          <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
            <li><a href="/developers">Developers</a></li>
            <li><a href="/FAQs">FAQs</a></li>
          </ul>
        </div>
        <div class="footer-contact">
          <h3>Contact us</h3>
          <ul>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              <span> Address:</span>
              <p>123 Career Street, Nairobi, Kenya</p>
            </li>
            <li>
              <i class="fas fa-phone"></i>
              <span> Phone:</span>
              <p>+254 700 000 000</p>
            </li>
            <li>
              <i class="fas fa-envelope"></i>
              <span> Email:</span>
              <p>
                support@careerconnect.com
              </p>
            </li>
          </ul>

        </div>
      </div>
      <hr>
      <div class="footer-bottom division">
        <div class="footer-socials">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2025 CareerConnect. All rights reserved.</p>
    </footer>
    {% endblock %}

    <!--Bootstrap JS-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!--Web Scripts-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!--Scripts-->
    <script src="{{url_for('static', filename='js/main/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/auth/auth.js')}}"></script>

    <!--Independent JS-->
    {% block js %} {% endblock %}
  </body>
</html>
